.circular {
  width: 0.48rem;
  height: 0.48rem;
  background: #F2F2F2;
  border-radius: 100%;
  margin: auto 0.186666rem;
}
.circular:hover {
  background: url(../../../assets/img/shopcar/check.png) center / 0.32rem 0.266666rem no-repeat #F23A3A;
}
