/* css3盒子模型 */
* {
  -webkit-box-sizing: border-box;
}
/* 去除移动端链接点击时背景高亮 */
a {
  -webkit-tap-highlight-color: transparent;
}
/* 去除苹果设备默认的外观样式 */
input {
  -webkit-appearance: none;
}
/* 去除长按链接或图片弹出来的菜单选项 */
a,
img {
  -webkit-touch-callout: none;
}
