.more {
  padding-left: 0.266666rem;
  padding-right: 0.213333rem;
  display: flex;
  justify-content: space-between;
}
.more span {
  font-size: 0.4rem;
  font-weight: 500;
}
.more span:nth-child(2) {
  color: #808080;
  font-size: 0.346666rem;
  padding-top: 0.106666rem;
}
